
   
  .box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
   
  .box .name {
    padding: 10px 10px 5px 10px;
  }
   
  .box .email {
    font-style: italic;padding-left:10px;
    color: #666;
  }
   
  .clearfix {
    clear: both;margin-bottom:20px;
  }